body {
	font-family: Helvetica, Arial, Sans-Serif;
	font-size: 1rem;
	overflow: hidden;
}

a {
	color: #777;
}

h1 {
	text-align: center;
	padding: 0;
	margin: 0.5rem 0 1rem 0;
}

.hide {
	display: none;
}

.flaticon-banana4:before {
	font-size: 10rem;
}

.countdown {
	font-size: 2rem;
	display: block;
	text-align: center;
}

.banana-wrapper {
	margin: 1rem 0 0 0;
	text-align: center;
}

.animate {
	padding-top: 3rem;
	display: inline-block;
	animation:
		orbit 3s linear infinite,
    	color 5s linear infinite;
}

@keyframes orbit {
    from { transform: rotate(0deg) translateX(100px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(100px) rotate(-360deg); }
}

@keyframes color {
	0% {
		color: yellow;
	}
	14% {
		color: green;
	}
	29% {
		color: blue;
	}
	43% {
		color: purple;
	}
	57% {
		color: pink;
	}
	71% {
		color: red;
	}
	86% {
		color: orange;
	}
	100% {
		color: yellow;
	}
}

.banana-gifs {
	width: 100%;
    position: absolute;
    text-align: center;
    top: 3rem;
    z-index: -1;
}

.banana-gifs img {
	display: none;
	max-width: 100%;
}

.banana-gifs img.show {
	display: inline-block;
}

footer {
	border-top: 1px solid #777;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0.5rem;
	margin: 0 0.5rem;
	font-size: 0.7rem;
	text-align: center;
	box-sizing: border-box;
}